<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>mp4</display-name>
	<session-config>
		<session-timeout>5</session-timeout>
	</session-config>
	<!-- auth required from container, e.g: conf/tomcat-users.xml -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>protect all resources</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>mp4</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
	<security-role>
		<role-name>mp4</role-name>
	</security-role>
</web-app>
